
@import "../../styles/core";

.area-list {
}
.area-list__item {
    text-decoration: none;
    color: inherit;
    display: block;
    @include card();
    height: $row-height;
    line-height: $row-height;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 5px;
}
