$color: #07f2d2;
.channel-list {
    background: $color;
}
.header__nav {
    display: flex;
}
.header__nav-item {
    text-decoration: none;
    color: black;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}
.header__nav-item:hover {
    text-decoration: none;
    color: black;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}
