.messages-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.message__row {
  display: flex;
  margin: 3px 0; }

.message {
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  padding: 0 10px;
  background: lightgray; }

.msg--mine {
  justify-content: flex-end; }
