
@import "../../styles/core";

.messages-list {
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-end;
    &::-webkit-scrollbar {
        display: none;
    }
}
.message__row {
    display: flex;
    margin: 3px 0;
}
.message {
    height: $message-height;
    line-height: $message-height;
    border-radius: $message-height/2;
    padding: 0 15px;
    background: lightgray;
}
.message__author {
    font-size: 14px;
    color: gray;
}
.author--msg--mine {
    text-align: right;
}
.msg--mine {
    justify-content: flex-end;
    .message {
        background: $color;
    }
}
