@import "../../styles/core";

.header {
    background: $color;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.header__nav {
    display: flex;
    margin-left: 10px;
}
.header__nav-item {
    text-decoration: none;
    color: black;
    height: $row-height;
    line-height: $row-height;
    padding: 0 5px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    &:first-child {
        border-left: 0;
    }
}
.header__nav-item--selected {
    background: darken($color, 3);
}
