@import "../../styles/core";

.header {
    background: $color;
}
.header__nav {
    display: flex;
}
.header__nav-item {
    text-decoration: none;
    color: black;
    height: $row-height;
    line-height: $row-height;
    padding: 0 15px;
    border-left: 1px solid darken($color, 10);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    &:first-child {
        border-left: 0;
    }
}
.header__nav-item--selected {
    background: darken($color, 3);
}
